# PULLING DATA WITH PYTHON

### Great! You have made this far! Congratulations. What you are looking at right now is called a python notebook. It is an IDE that can be used to run python.

In order to really gain the full power of python in analysis we use python Libraries. A Python library is a collection of functions and methods that allows you to perform many actions without writing your code. For todays discussion, since the aim is to pull data with python, we will use two important libraries;
    1. pandas - software library written for the Python programming language for data manipulation and analysis.
    2. pymysql - software library written for the python programming langugae to allow connection to external databases.


NB: Kindly note that there are numerous libraries that can be used to achieve the same objective

### Import the Libraries Needed

In [4]:
# importing the needed libraries to our jupyter notebooks
import pandas as pd
import pymysql

### Connect to Arifu database

In [6]:
# using pymysql to connecto to the database
# Parameters :
# host – Host where the database server is located
# user – Username to log in as
# password – Password to use.
# database – Database to use, None to not use a particular one.
# port – MySQL port to use, default is usually OK. (default: 3306)
# credentials have been xx'd out for privacy purposes

db = pymysql.connect(host = 'xx',user = 'xx',password='xx',port = 3306,database = 'arifu_live')

In [8]:
# Maintaining and capturing the connections using cursor() method
curr = db.cursor()

### Test the Connection

In [9]:
curr.execute("SHOW TABLES")
tables = curr.fetchall()
len(tables)

291

In [10]:
curr.execute('SHOW DATABASES')

27

In [11]:
databases = curr.fetchall()

In [12]:
databases

(('information_schema',),
 ('Postgress',),
 ('akengo_live',),
 ('akengo_staging',),
 ('arifu_analytics',),
 ('arifu_authorization',),
 ('arifu_blog',),
 ('arifu_content',),
 ('arifu_demo',),
 ('arifu_interactions',),
 ('arifu_live',),
 ('arifu_live_beta',),
 ('arifu_partners',),
 ('arifu_transaction',),
 ('arifu_web_v3',),
 ('communication_staging',),
 ('innodb',),
 ('metabase',),
 ('mysql',),
 ('new_arifu_web',),
 ('old_arifu_analytics',),
 ('performance_schema',),
 ('polling',),
 ('polling_service',),
 ('processor',),
 ('sms_dispatcher',),
 ('tmp',))

### Querying the data using SQL

In [14]:
query = '''SELECT smsoutbox.id AS outbox_id, smsinbox.id AS inbox_id, smsoutbox.learner_id, learners.phone_number, projects.partner_id, partners.name AS partner_name, projects.id AS project_id, projects.project_name, program_variations.program_id, programs.program_code, programs.program_name, packages.variation_id, program_variations.variation_code, program_variations.variation_name, smsoutbox.package_id, smsoutbox.message_type, smsoutbox.object_id, smsoutbox.message_out, smsinbox.message_in, smsoutbox.sender, smsinbox.created_at FROM smsinbox LEFT JOIN smsoutbox ON smsoutbox.link_id = smsinbox.id LEFT JOIN learners ON smsoutbox.learner_id = learners.learner_id LEFT JOIN objects ON objects.id = smsoutbox.object_id LEFT JOIN packages ON packages.id = smsoutbox.package_id LEFT JOIN program_variations ON packages.variation_id = program_variations.id LEFT JOIN programs ON programs.id = program_variations.program_id LEFT JOIN projects ON programs.project_id = projects.id LEFT JOIN partners ON projects.partner_id = partners.id WHERE smsinbox.created_at >= "2020-12-14" and partners.id = 67'''
dataframe = pd.read_sql(query, db)

### Verifying the data/ quick look at the data

In [15]:
# Displays the first five row in th dataframe
dataframe.head()

,outbox_id,inbox_id,learner_id,phone_number,partner_id,partner_name,project_id,project_name,program_id,program_code,...,variation_id,variation_code,variation_name,package_id,message_type,object_id,message_out,message_in,sender,created_at
0,36121139,36094971,1216843,254711505446,67,Mastercard Kenya,100,Mastercard Financial Education,733,JAZA,...,836,JAZA,Jaza Duka Sales representatives,9255,1,74003,Please select your language to start learning....,JAZA,22374,2020-12-14 06:27:06
1,36121142,36094974,1216843,254711505446,67,Mastercard Kenya,100,Mastercard Financial Education,2410,BFRK,...,2555,BFRK,Financial Resiliency Swahili Version,13256,1,123237,(1/16) Mimi ni Arifu. Jifunze Sam anavyoendele...,2,22374,2020-12-14 06:27:49
2,36121146,36094978,1216843,254711505446,67,Mastercard Kenya,100,Mastercard Financial Education,2410,BFRK,...,2555,BFRK,Financial Resiliency Swahili Version,13256,1,123238,(2/16) Wakati kisa cha COVID-19 kiliripotiwa K...,A,22374,2020-12-14 06:29:10
3,36122155,36096000,938585,254722200677,67,Mastercard Kenya,100,Mastercard Financial Education,2426,DUKAB,...,2578,DUKAB,Safe Borrowing,13286,1,123604,"(3/15) He considered borrowing from family, fr...",A,22374,2020-12-14 10:05:12
4,36122726,36096709,938585,254722200677,67,Mastercard Kenya,100,Mastercard Financial Education,2426,DUKAB,...,2578,DUKAB,Safe Borrowing,13286,1,123605,(4/15) Sam used his records to choose a loan h...,A,22374,2020-12-14 12:02:31

In [16]:
# Provides information on the individual columns within the dataframe
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24787 entries, 0 to 24786
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   outbox_id       24787 non-null  int64
 1   inbox_id        24787 non-null  int64
 2   learner_id      24787 non-null  int64
 3   phone_number    24787 non-null  object
 4   partner_id      24787 non-null  int64
 5   partner_name    24787 non-null  object
 6   project_id      24787 non-null  int64
 7   project_name    24787 non-null  object
 8   program_id      24787 non-null  int64
 9   program_code    24787 non-null  object
 10  program_name    24787 non-null  object
 11  variation_id    24787 non-null  int64
 12  variation_code  24787 non-null  object
 13  variation_name  24787 non-null  object
 14  package_id      24787 non-null  int64
 15  message_type    24787 non-null  int64
 16  object_id       24787 non-null  int64
 17  message_out     24787 non-null  object
 18  message_in      24787 non-null  object
 19  sender          24787 non-null  object
 20  created_at      24787 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(10), object(10)
memory usage: 4.0+ MB

In [19]:
# Getting the unique number of learners in the dataframe
dataframe.learner_id.nunique()

823

In [18]:
# Getting the minimum time in the dataframe
dataframe.created_at.min()

Timestamp('2020-12-14 06:27:06')

In [23]:
# getting the maximum date and time in the dataframe
dataframe.created_at.max()

Timestamp('2021-01-05 15:30:06')

### Saving the dataframe into Excel/csv

In [10]:
# Saving the dataframe to excel and giving a name
dataframe.to_excel('Mastercard_int.xlsx')

In [ ]:
# Saving the dataframe to csv and giving a name
dataframe.to_excel('Mastercard_int.csv')

### Other Examples to note

In [8]:
# Pulling learner level data from the database
analytics_learner_query = '''SELECT * from analytics_learner_lvl_67'''
analytics_learner = pd.read_sql(analytics_learner_query,db)
# Saving the dataframe to csv and giving a name
analytics_learner.to_csv('analytics_learner_67.csv')

### Other Resources to Look at

1. To understand SQL Where clause click [here](https://www.techonthenet.com/sql/where.php).
2. Introduction to Pandas click [here](https://towardsdatascience.com/quick-dive-into-pandas-for-data-science-cc1c1a80d9c4) and [here](https://towardsdatascience.com/pandas-full-tutorial-on-a-single-dataset-4aa43461e1e2)